<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Admin | <%= title%></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" type="image/png" href="../img/LOGO_MINI.png">
      <!-- site icon -->
      <link rel="icon" href="../stylesheets/admin_assets/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>