<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img class="w-10" src="img/logolovedog.PNG" alt="webLogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item <% if (title === "Home") { %> active <% } %>">
                <a class="nav-link" href="/">
                    <h5>หน้าแรก</h5>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item <% if (title === "Board Health") { %> active <% } %>">
                <a class="nav-link" href="/boardhealth">
                    <h5>บอร์ดสุขภาพสุนัข</h5>
                </a>
            </li>
            <li class="nav-item <% if (title === "Board") { %> active <% } %> <% if (title === "Board Community") { %> active <% } %> dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h5>ชุมชน</h5>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/board">บทความ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/boardcommunity">บอร์ด</a>
                </div>
            </li>
            <li class="nav-item <% if (title === "Shop") { %> active <% } %>">
                <a class="nav-link" href="/shop">
                    <h5>ร้านค้า</h5>
                </a>
            </li>
            <% if (emailS === "0"){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <h5>register</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <h5>login</h5>
                    </a>
                </li>
            <% } %>

            <% if (emailS !== "0") { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/img/doctor.png" alt="Profile Picture" class="img-fluid rounded-circle" width="40"height="40" />
                        <h7><%= emailS %></h7>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user">Admin</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            <% } %>

        </ul>
    </div>
</nav>