<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title><%= title %></title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="../img/LOGO_MINI.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/stylesheets/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/stylesheets/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/stylesheets/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/stylesheets/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/stylesheets/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/stylesheets/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/stylesheets/assets/css/responsive.css">

		<!-- jquery -->
		<script src="/stylesheets/assets/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="/stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- count down -->
		<script src="/stylesheets/assets/js/jquery.countdown.js"></script>
		<!-- isotope -->
		<script src="/stylesheets/assets/js/jquery.isotope-3.0.6.min.js"></script>
		<!-- waypoints -->
		<script src="/stylesheets/assets/js/waypoints.js"></script>
		<!-- owl carousel -->
		<script src="/stylesheets/assets/js/owl.carousel.min.js"></script>
		<!-- magnific popup -->
		<script src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- mean menu -->
		<script src="/stylesheets/assets/js/jquery.meanmenu.min.js"></script>
		<!-- sticker js -->
		<script src="/stylesheets/assets/js/sticker.js"></script>
		<!-- main js -->
		<script src="/stylesheets/assets/js/main.js"></script>


		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>