<div class="col-lg-4">
    <div class="order-details-wrap">
        <table class="order-details">
            <thead>
                <tr>
                    <th>จัดการ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="order-details-body">
                <tr>
                    <td>บอร์ดสุุขภาพ</td>
                    <td><a href="/myBoardhealth" class="boxed-btn">แก้ไข</a></td>
                </tr>
                <tr>
                    <td>บทความ</td>
                    <td><a href="/myBoard" class="boxed-btn">แก้ไข</a></td>
                </tr>
                <tr>
                    <td>บอร์ด</td>
                    <td><a href="/myBoardcommunity" class="boxed-btn">แก้ไข</a></td>
                </tr>
                <tr>
                    <td>ร้านค้า</td>
                    <td><a href="/myShop" class="boxed-btn">แก้ไข</a></td>
                </tr>
            </tbody>
        </table>
        <!-- <a href="#" class="boxed-btn">Place Order</a> -->
    </div>
</div>