<%- include('partials/head') -%>
    <%- include('partials/header') -%>

        <body>
            <main class="board mt-4">
                <div class="container">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <div class="text-with-lines">
                            <div class="text-top">
                                <div class="title mt-2">
                                    <h1>บทความชุมชน</h1>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <!-- Control the column width, and how they should appear on different devices -->
                            <div class="row">
                                <div class="col-sm-3 mx-auto">
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">สร้างบทความ</button>
                                    <div class="row py-3 px-3 mx-auto">
                                        <button type="button" class="btn btn-warning col-sm-5 mr-auto">ล่างสุด</button>

                                        <button type="button" class="btn btn-warning col-sm-5">ยอดฮิต</button>
                                    </div>
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">ทั้งหมด</button>
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">ทั่วไป</button>
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">เรื่องน่ารู้</button>
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">เรื่องน่ารัก</button>
                                    <button type="button" class="btn btn-warning col-sm-12 mt-2">การดูแล</button>
                                </div>


                                <div class="col-sm-9 mx-auto mt-auto">
                                    <h5><span class="underline">>บทความชุมชนทั้งหมด</span></h5>
                                    <div class="container">

                                        <div class="row justify-content-start">
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <div class="card">
                                                    <img src="img/doctor.png" class="card-img-top" alt="Image 1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card 1</h5>
                                                        <p class="card-text">Some example text for Card 1.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-center mt-4 mx-auto">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>


                    </div>
                </div>
                </div>
            </main>
        </body>
        <%- include('partials/footer') -%>