<%- include('partials/heads') -%>
<%- include('partials/headers') -%>

<body>
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">LOVE DOGS TH</p>
							<h1>ยินดีต้อนรับ<br>ชุมชนคนรักสุนัข</h1>
							<div class="hero-btns">
								<a href="#start1" class="boxed-btn" style="width: 80%;"><h3 style="color: aliceblue;">เริ่มเลย</h3></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<!-- <div class="list-section pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div> -->
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150" id="start1">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Content</h3>
						<p>รวมสิ่งที่น่าสนใจในเว็บของเรา</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="boardhealth.ejs"><img src="stylesheets/assets/img/products/product-img-7.png" alt=""></a>
						</div>
						<h3>บอร์ดสุขภาพสุนัข</h3>
						<p class="product-price"><span>ถาม-ตอบ ปัญหาสุขภาพสุนัข</span></p>
						<a href="#1" class="cart-btn"><i class="fas fa-shopping-cart"></i> Go </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="stylesheets/assets/img/products/product-img-8.png" alt=""></a>
						</div>
						<h3>ชุมชน</h3>
						<p class="product-price"><span>บทความ-บอร์ด</span></p>
						<a href="#2" class="cart-btn"><i class="fas fa-shopping-cart"></i> Go </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="stylesheets/assets/img/products/product-img-9.png" alt=""></a>
						</div>
						<h3>ร้านค้า</h3>
						<p class="product-price"><span>ร้านขายของที่เกี่ยวกับสุนัข</span></p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Go </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>🇯🇵</strong> <br> japan
                                </span>
                            </div>
                        </div>
                    	<img src="stylesheets/assets/img/dogt1.png" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Shiba</span> Inu</h3>
                    <h4>สุนัขสายพันธ์ญี่ปุ่น</h4>
                    <div class="text">สุนัขชิบะเป็นสุนัขสายพันธุ์ที่แข็งแรง ขนาดตัวใหญ่ปานกลาง อยู่ในสายพันธุ์สปิตซ์ (เป็นสายพันธุ์ที่มีหูตั้ง ขนหนา และหางม้วนงอ) สุนัขชิบะเป็นเหมือนสุนัขพันธุ์อะกิตะที่รูปร่างเล็กกว่า เพศผู้ตัวโตเต็มวัยสูงประมาณ 39.5 ซม. ส่วนเพศเมียสูง 36.5 ซม. มีขนชั้นนอกที่แข็ง เป็นเส้นตรง มีสีแดง แดงปนน้ำตาล (สีแดงแบบมีปลายขนสีดำ) ดำ-น้ำตาล หรือขาว ปกคลุมขนชั้นในที่หนานุ่มอีกที</div>
					<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Top</span> Ranking</h3>
					<p>การจัดอันดับสัตวแพทย์ที่มีคะแนนติดอันดับ Top 3.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="stylesheets/assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="stylesheets/assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="stylesheets/assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="latest-news pb-150">
		<div class="container">
			<!-- start-BoardHealth-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="1">	
						<h3><span class="orange-text">News</span> Board Health</h3>
						<p>โพสต์ปรึกษา - ปัญหาสุนัขของคุณ</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end-BoardHealth-section -->
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
				<div class="content-column col-lg-6">
					<h3><span class="orange-text">Golden</span> Retriever</h3>
                    <h4>สุนัขสายพันธ์สกอตแลน</h4>
                    <div class="text">สำหรับคนรักสุนัขทั้งหลายคงไม่มีใครไม่รู้จัก โกลเด้น รีทริฟเวอร์ (Golden Retriever) ด้วยขนาดตัวที่พอเหมาะ สายตาที่อ่อนโยน เป็นมิตร ร่าเริง ขนสีทองอร่าม และหางเป็นแพคล้ายขนนกที่แกว่งไปมาตลอดเวลา บทความนี้จะพามาทำความรู้จักกับสุนัขพันธุ์โกลเด้น รีทริฟเวอร์ในทุกแง่มุม ทั้งภาพรวมของสายพันธุ์ และเคล็ดลับในการดูแลสุขภาพ และกิจกรรมที่เหมาะสม</div>
					<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>Scot</strong> <br> Scotland
                                </span>
                            </div>
                        </div>
                    	<img src="stylesheets/assets/img/dogt2.png" alt="">
                    </div>
                </div>
                <!--Content Column-->
                
            </div>
        </div>
    </section>
    <!-- end cart banner section -->
	<!-- shop banner -->
	<!-- <section class="shop-banner">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
        </div>
    </section> -->
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">
			<!-- start-Article-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="2">	
						<h3><span class="orange-text">Our</span> Article</h3>
						<p>บทความ สาระความรู้เกี่ยวกับสุนัขที่คุณอาจไม่เคยรู้.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end-Article-section -->

			<!-- start-Board-section -->
			<div class="row mt-150">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Board</h3>
						<p>แลกเปลี่ยนความรู้ในชุมชนของเรา.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end-Board-section -->

			<!-- <div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div> -->
		</div>
	</div>
	<!-- end latest news -->

		<!-- cart banner section -->
		<section class="cart-banner pt-100 pb-100">
			<div class="container">
				<div class="row clearfix">
					<!--Image Column-->
					<div class="image-column col-lg-6">
						<div class="image">
							<div class="price-box">
								<div class="inner-price">
									<span class="price">
										<strong>ENG</strong> <br> England
									</span>
								</div>
							</div>
							<img src="stylesheets/assets/img/dogt3.png" alt="">
						</div>
					</div>
					<!--Content Column-->
					<div class="content-column col-lg-6">
						<h3><span class="orange-text">Beagle</span> (บีเกิ้ล)</h3>
						<h4>สุนัขสายพันธ์อังกฤษ</h4>
						<div class="text">ถ้าให้นึกถึงน้องหมาขนสั้น ขนาดลำตัวกะทัดรัด แสนฉลาด ที่พกความร่าเริงสนุกสนานมาด้วยแบบเต็มกระเป๋า มีจมูกที่ดมกลิ่นได้เก่งไม่เป็นรองใคร และมีความน่ารักแบบล้น ๆ จนหลาย ๆ คนเห็นแล้วก็อยากจะเข้าไปกอด แน่นอนว่าสุนัขสายพันธุ์บีเกิ้ล (Beagle) จะเป็นอีกหนึ่งสายพันธุ์ที่ใครก็ต้องนึกถึง แต่ถึงแม้ว่าบีเกิ้ลจะมีขนาดตัวที่กำลังกะทัดรัด และเป็นเพื่อนกับเด็ก ๆ เป็นอย่างดีก็ตาม ต้องขอบอกว่าบีเกิ้ลมีมุมดื้อเล็ก ๆ รั้นหน่อย ๆ กับพลังแสนจะล้นเหลือ เจ้าของบีเกิ้ลจึงต้องหาเทคนิคในการสอน รวมทั้งดูแลบีเกิ้ลให้มีสุขภาพที่ดี พร้อมแล้วมาทำความรู้จักกับบีเกิ้ลกันให้มากขึ้นกันเลยดีกว่า แล้วจะรู้ว่าทำไมใคร ๆ ก็หลงรักสุนัขสายพันธุ์บีเกิ้ล</div>
						<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
						<!--Countdown Timer-->
						<div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
						<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</section>
		  <!-- end cart banner section -->

		<!-- advertisement section -->
	<div class="latest-news pb-150 mt-150">
		<div class="container">
			<!-- start-BoardHealth-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="1">	
						<h3><span class="orange-text">News</span> Shop</h3>
						<p>ร้านค้าเกี่ยวกับสุนัขที่คุณอาจจะสนใจ.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end-BoardHealth-section -->
		</div>
	</div>
	<!-- end advertisement section -->

	<!-- logo carousel -->
	<!-- <div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="stylesheets/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="stylesheets/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="stylesheets/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="stylesheets/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="stylesheets/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end logo carousel -->

  <%- include('partials/footers') -%>
	


</body>
</html>