<%- include('partials/heads') -%>
<%- include('partials/headers') -%>

<body>
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">LOVE DOGS TH</p>
							<h1>ยินดีต้อนรับ<br>ชุมชนคนรักสุนัข</h1>
							<div class="hero-btns">
								<a href="#start1" class="boxed-btn" style="width: 80%;"><h3 style="color: aliceblue;">เริ่มเลย</h3></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150" id="start1">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Content</h3>
						<p>รวมสิ่งที่น่าสนใจในเว็บของเรา</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="boardhealth.ejs"><img src="stylesheets/assets/img/products/product-img-7.png" alt=""></a>
						</div>
						<h3>บอร์ดสุขภาพสุนัข</h3>
						<p class="product-price"><span>ถาม-ตอบ ปัญหาสุขภาพสุนัข</span></p>
						<a href="#1" class="cart-btn"><i class="fas fa-arrow-down"></i> Go </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="stylesheets/assets/img/products/product-img-8.png" alt=""></a>
						</div>
						<h3>ชุมชน</h3>
						<p class="product-price"><span>บทความ-บอร์ด</span></p>
						<a href="#2" class="cart-btn"><i class="fas fa-arrow-down"></i> Go </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="stylesheets/assets/img/products/product-img-9.png" alt=""></a>
						</div>
						<h3>ร้านค้า</h3>
						<p class="product-price"><span>ร้านขายของที่เกี่ยวกับสุนัข</span></p>
						<a href="#3" class="cart-btn"><i class="fas fa-arrow-down"></i> Go </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>🇯🇵</strong> <br> japan
                                </span>
                            </div>
                        </div>
                    	<img src="stylesheets/assets/img/dogt1.png" alt="" style="width: 480px; height: 380px;">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Shiba</span> Inu</h3>
                    <h4>สุนัขสายพันธ์ญี่ปุ่น</h4>
                    <div class="text">สุนัขชิบะเป็นสุนัขสายพันธุ์ที่แข็งแรง ขนาดตัวใหญ่ปานกลาง อยู่ในสายพันธุ์สปิตซ์ (เป็นสายพันธุ์ที่มีหูตั้ง ขนหนา และหางม้วนงอ) สุนัขชิบะเป็นเหมือนสุนัขพันธุ์อะกิตะที่รูปร่างเล็กกว่า เพศผู้ตัวโตเต็มวัยสูงประมาณ 39.5 ซม. ส่วนเพศเมียสูง 36.5 ซม. มีขนชั้นนอกที่แข็ง เป็นเส้นตรง มีสีแดง แดงปนน้ำตาล (สีแดงแบบมีปลายขนสีดำ) ดำ-น้ำตาล หรือขาว ปกคลุมขนชั้นในที่หนานุ่มอีกที</div>
					<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
                    <!--Countdown Timer-->
                    <!-- <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div> -->
                	<!-- <a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->
	
	<!-- advertisement section -->
	<div class="latest-news pb-150 mt-150">
		<div class="container">
			<!-- start-BoardHealth-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="1">	
						<h3><span class="orange-text">News</span> Board Health</h3>
						<p>โพสต์ปรึกษา - ปัญหาสุนัขของคุณ</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mx-auto">
					<div class="container">
						<div id="BoardHealth"></div>
					</div>
				</div>
			</div>
			<!-- end-BoardHealth-section -->
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
				<div class="content-column col-lg-6">
					<h3><span class="orange-text">Golden</span> Retriever</h3>
                    <h4>สุนัขสายพันธ์สกอตแลน</h4>
                    <div class="text">สำหรับคนรักสุนัขทั้งหลายคงไม่มีใครไม่รู้จัก โกลเด้น รีทริฟเวอร์ (Golden Retriever) ด้วยขนาดตัวที่พอเหมาะ สายตาที่อ่อนโยน เป็นมิตร ร่าเริง ขนสีทองอร่าม และหางเป็นแพคล้ายขนนกที่แกว่งไปมาตลอดเวลา บทความนี้จะพามาทำความรู้จักกับสุนัขพันธุ์โกลเด้น รีทริฟเวอร์ในทุกแง่มุม ทั้งภาพรวมของสายพันธุ์ และเคล็ดลับในการดูแลสุขภาพ และกิจกรรมที่เหมาะสม</div>
					<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
                    <!--Countdown Timer-->
                    <!-- <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                </div>
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>Scot</strong> <br> Scotland
                                </span>
                            </div>
                        </div>
                    	<img src="stylesheets/assets/img/dogt2.png" alt="" style="width: 600px; height: 550px;">
                    </div>
                </div>
                <!--Content Column-->
                
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">
			<!-- start-Article-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="2">	
						<h3><span class="orange-text">Our</span> Article</h3>
						<p>บทความ สาระความรู้เกี่ยวกับสุนัขที่คุณอาจไม่เคยรู้.</p>
					</div>
				</div>
			</div>

			<div class="row" id="Article"></div>
			<!-- end-Article-section -->

			<!-- start-Board-section -->
			<div class="row mt-150">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Board</h3>
						<p>แลกเปลี่ยนความรู้ในชุมชนของเรา.</p>
					</div>
				</div>
			</div>

			<div class="row" id="Board"></div>
			<!-- end-Board-section -->

			<!-- <div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div> -->
		</div>
	</div>
	<!-- end latest news -->

		<!-- cart banner section -->
		<section class="cart-banner pt-100 pb-100">
			<div class="container">
				<div class="row clearfix">
					<!--Image Column-->
					<div class="image-column col-lg-6">
						<div class="image">
							<div class="price-box">
								<div class="inner-price">
									<span class="price">
										<strong>ENG</strong> <br> England
									</span>
								</div>
							</div>
							<img src="stylesheets/assets/img/dogt3.png" alt="">
						</div>
					</div>
					<!--Content Column-->
					<div class="content-column col-lg-6">
						<h3><span class="orange-text">Beagle</span> (บีเกิ้ล)</h3>
						<h4>สุนัขสายพันธ์อังกฤษ</h4>
						<div class="text">ถ้าให้นึกถึงน้องหมาขนสั้น ขนาดลำตัวกะทัดรัด แสนฉลาด ที่พกความร่าเริงสนุกสนานมาด้วยแบบเต็มกระเป๋า มีจมูกที่ดมกลิ่นได้เก่งไม่เป็นรองใคร และมีความน่ารักแบบล้น ๆ จนหลาย ๆ คนเห็นแล้วก็อยากจะเข้าไปกอด แน่นอนว่าสุนัขสายพันธุ์บีเกิ้ล (Beagle) จะเป็นอีกหนึ่งสายพันธุ์ที่ใครก็ต้องนึกถึง แต่ถึงแม้ว่าบีเกิ้ลจะมีขนาดตัวที่กำลังกะทัดรัด และเป็นเพื่อนกับเด็ก ๆ เป็นอย่างดีก็ตาม ต้องขอบอกว่าบีเกิ้ลมีมุมดื้อเล็ก ๆ รั้นหน่อย ๆ กับพลังแสนจะล้นเหลือ เจ้าของบีเกิ้ลจึงต้องหาเทคนิคในการสอน รวมทั้งดูแลบีเกิ้ลให้มีสุขภาพที่ดี พร้อมแล้วมาทำความรู้จักกับบีเกิ้ลกันให้มากขึ้นกันเลยดีกว่า แล้วจะรู้ว่าทำไมใคร ๆ ก็หลงรักสุนัขสายพันธุ์บีเกิ้ล</div>
						<span class="orange-text">อ้างอิงจากเว็บ : https://www.purina.co.th/</span>
						<!--Countdown Timer-->
						<!-- <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
						<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
					</div>
				</div>
			</div>
		</section>
		  <!-- end cart banner section -->

		<!-- advertisement section -->
	<div class="latest-news pb-150 mt-150">
		<div class="container">
			<!-- start-BoardHealth-section -->
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="3">	
						<h3><span class="orange-text">News</span> Shop</h3>
						<p>ร้านค้าเกี่ยวกับสุนัขที่คุณอาจจะสนใจ.</p>
					</div>
				</div>
			</div>

			<div class="row" id="Shop"></div>
			<!-- end-BoardHealth-section -->
		</div>
	</div>
	<!-- end advertisement section -->

  <%- include('partials/footers') -%>
	
	<!-- แสดง Boardhealth -->
	<script>
		fetch('/boardhealthShow3', {method: 'GET'})
			.then(function(response) {
			if(response.ok) return response.json();
			throw new Error('Request failed.');
			})
			.then(function(data) {
			console.log(data);
			
			for (let i = 0; i < data.length; i++) {
			var date = new Date(data[i]["created_at"]);
			var dateup= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(date);
			document.getElementById('BoardHealth').innerHTML += `
				<div class="row justify-content-start mt-2 mb-2 list-post">
					<a href="/boardhealthDetail/${data[i]["boardhealth_id"]}">
					<div class="shadow p-3 mb-2 bg-white rounded d-flex flex-column d-sm-flex flex-sm-row py-2 col-lg-12 col-sm-12 col-xs-12" style="background-color: aqua;">
						<div class="col-lg-8 col-sm-8 col-xs-8 align-content-center im-post">
							<img class="img-fluid latest-news-bg" style=" height: 100px; width: 200px;" src="img/${data[i]["photo"]}" alt="Generic placeholder image">
						</div>
					</a>
						<div class="col-lg-8 col-sm-8 col-xs-8 mr-auto text-ti">
							<a href="/boardhealthDetail/${data[i]["boardhealth_id"]}">
							<h5 class="mt-3 text-title">${data[i]["title"]}</h5>
							</a>
							<div class="text-date">
							<p><i class="fas fa-calendar-week"></i> เมื่อ ${dateup} <br><i class="fas fa-eye"></i> (${data[i]["view"]}) <!--<i class="fas fa-comments"></i> (0)--> จาก
							คุณ ${data[i]["username"]}</p>
							</div>
						</div>
						<!-- <div class="col-lg-2 col-sm-2 col-xs-2">
							<p>... </p>
							<p>... น.</p>
							<p>ดู  ${data[i]["view"]}</p>
						</div> -->
					</div>
					<!-- <a type="button" style="color: rgb(255, 255, 255); background-color: #F28123;" class="btn btn-lg btn-block mb-2" href="/boardhealthDetail/${data[i]["boardhealth_id"]}">รายละเอียด</a> -->
				</div>
				<hr class="line1">
										
											`;
			}
			})
			.catch(function(error) {
			console.log(error);
			});

	</script>

	<!-- แสดง Article -->
	<script>
		fetch('/ArticleShow3', {method: 'GET'})
			.then(function(response) {
			if(response.ok) return response.json();
			throw new Error('Request failed.');
			})
			.then(function(data) {
			console.log(data);
			
			for (let i = 0; i < data.length; i++) {
			var date = new Date(data[i]["created_at"]);
			var dateup= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(date);
			document.getElementById('Article').innerHTML += `
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news" >
					<a href="/articleDetail/${data[i]["article_id"]}"><div class="latest-news-bg" style="background-image: url(../img/${data[i]["photo"]})"></div></a>
					<div class="news-text-box">
						<a href="/articleDetail/${data[i]["article_id"]}">
						<h3 class="text-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-overflow: '...?';">${data[i]["title"]}</h3>
						</a>
						<p class="blog-meta mt-2">
							<span class="author"><i class="fas fa-user"></i> ${data[i]["username"]}</span>
							<span class="date"><i class="fas fa-calendar"></i> ${dateup}</span>
						</p>
						<p class="excerpt"></p>
						<a href="/articleDetail/${data[i]["article_id"]}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
										
											`;
			}
			})
			.catch(function(error) {
			console.log(error);
			});

	</script>

	<!-- แสดง Board -->
	<script>
		fetch('/BoardShow3', {method: 'GET'})
			.then(function(response) {
			if(response.ok) return response.json();
			throw new Error('Request failed.');
			})
			.then(function(data) {
			console.log(data);
			
			for (let i = 0; i < data.length; i++) {
			var date = new Date(data[i]["created_at"]);
			var dateup= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(date);
			document.getElementById('Board').innerHTML += `
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news" >
					<a href="/boardDetail/${data[i]["communityboard_id"]}"><div class="latest-news-bg" style="background-image: url(../img/${data[i]["photo"]})"></div></a>
					<div class="news-text-box">
						<a href="/boardDetail/${data[i]["communityboard_id"]}">
						<h3 class="text-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-overflow: '...?';">${data[i]["title"]}</h3>
						</a>
						<p class="blog-meta mt-2">
							<span class="author"><i class="fas fa-user"></i> ${data[i]["username"]}</span>
							<span class="date"><i class="fas fa-calendar"></i> ${dateup}</span>
						</p>
						<p class="excerpt"></p>
						<a href="/boardDetail/${data[i]["communityboard_id"]}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
										
											`;
			}
			})
			.catch(function(error) {
			console.log(error);
			});

	</script>

	<!-- แสดง Shop -->
	<script>
		fetch('/ShopShow3', {method: 'GET'})
			.then(function(response) {
			if(response.ok) return response.json();
			throw new Error('Request failed.');
			})
			.then(function(data) {
			console.log(data);
			
			for (let i = 0; i < data.length; i++) {
			var date = new Date(data[i]["created_at"]);
			var dateup= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(date);
			document.getElementById('Shop').innerHTML += `
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news" >
					<a href="/shopDetail/${data[i]["shop_id"]}"><div class="latest-news-bg" style="background-image: url(../img/${data[i]["photo"]})"></div></a>
					<div class="news-text-box">
						<a href="/shopDetail/${data[i]["shop_id"]}">
						<h3 class="text-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-overflow: '...?';">${data[i]["title"]}</h3>
						</a>
						<p class="blog-meta mt-2">
							<span class="author"><i class="fas fa-user"></i> ${data[i]["username"]}</span>
							<span class="date"><i class="fas fa-calendar"></i> ${dateup}</span>
						</p>
						<p class="excerpt"></p>
						<a href="/shopDetail/${data[i]["communityboard_id"]}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
										
											`;
			}
			})
			.catch(function(error) {
			console.log(error);
			});

	</script>

</body>
</html>