<%- include('partials/heads') -%>
    <%- include('partials/headers') -%>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg hero-bg-shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p class="subtitle">LOVE DOGS TH</p>
							<h1>รายละเอียดสินค้าและบริการ</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- end breadcrumb section -->
        <main class="board mt-4">
            <div class="container">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <!-- <div class="text-with-lines">
                        <div class="text-top">
                            <div class="title mt-2 text-center">
                                <h2>บอร์ด</h2>
                            </div>
                        </div>
                    </div> -->

                    <div class="container">
                        <!-- Control the column width, and how they should appear on different devices -->
                        <div class="row">
                            <div class="border py-3 shadow">
                                <div class="d-flex align-content-start flex-wrap w-100">
                                    <div class="p-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <img class="mr-3 img-fluid rounded-circle img-mini" style="width: 150px; height: 150px;" src="../img/1697816675192.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="p-2 align-self-center col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-2 center">
                                        <h4>Tonmai Love Dog Shop</h4>
                                        <div class="mx-auto text-more">
                                            <p>ยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่านยินดีตอนรับลูกค้าทุกท่าน</p>
                                        </div>
                                    </div>
                                    <div class="ml-auto p-2 pr-5 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="more-tel">
                                            <span>รายการสินค้าทั้งหมด : (0)</span>
                                            <br>
                                            <span>คะแนน : (0)</span>
                                            <br>
                                            <span>ติดต่อ : </span><br>
                                            <span><i class="fas fa-phone-volume"></i> 087-988-7539</span>
                                            <br>
                                            <span><i class="fas fa-shopping-bag" style="color: #F94E30;"></i> shopee </span>
                                            <br>
                                            <span><i class="fab fa-facebook" style="color: blue;"></i> facebook</span>
                                            <br>
                                            <span><i class="fab fa-line" style="color: green;"></i> line </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end flex-wrap w-100 pr-5 font-weight-bold">
                                    <button id="myButton" value="" class="btn btn-sm btn-outline-primary ml-2 rounded-pill myButton" style="background: white;color: black; border-color: coral;"> 
                                        <i class="fas fa-heart" style="color: coral;"></i> ถูกใจ (<span id="counter"></span>)
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="container">
                            <div class="shadow border py-3 mt-5 col-lg-12 col-md-12 col-sm-12">
                                <div class="row box-product">
                                    <div class="col-lg-6 col-md-6 col-sm-6 img-product flex-wrap">
                                        <img src="../img/dog food.png" alt="Large Image" class="img-fluid main-image">
                                      </div>
                                      <div class="col-lg-2 col-md-2 col-sm-2 small-images-container img-product-mini mt-2">
                                        <img src="../img/shopdog.jpg" alt="Small Image 1" class="img-fluid flex-column small-image">
                                        <img src="../img/shopdog.jpg" alt="Small Image 2" class="img-fluid flex-column small-image">
                                        <img src="../img/shopdog.jpg" alt="Small Image 3" class="img-fluid small-image">
                                        <img src="../img/shopdog.jpg" alt="Small Image 4" class="img-fluid small-image">
                                      </div>
                                      <span class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae consequuntur quod odio laborum temporibus maiores quibusdam. Optio fugiat debitis nobis et iusto, doloremque autem hic?</span>
                                </div>
                            </div>

                        </div>    
                            

                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
                                <div class="shadow p-3 mb-2 bg-white rounded d-flex flex-column d-sm-flex flex-sm-row py-2 w-100">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3 border">
                                            <img class="mr-3 img-fluid rounded-circle img-mini" style="width: 150px; height: 150px;" src="../img/1697816675192.jpg" alt="Generic placeholder image">
                                        </div>
                                        <div class="col-lg-5 col-sm-5 col-xs-5 name-shop-title border" >
                                                <h4>Tonmai Love Dog Shop</h4>
                                                <div class="mx-auto text-more">
                                                    <p>ยินดีตอนรับลูกค้าทุกท่าน</p>
                                                </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-xs-4 border">
                                                <div class="ml-1 more-tel">
                                                    <span>รายการสินค้าทั้งหมด : (0)</span>
                                                    <br>
                                                    <span>คะแนน : (0)</span>
                                                    <br>
                                                    <span>ติดต่อ : </span><br>
                                                    <span><i class="fas fa-phone-volume"></i> 087-988-7539</span>
                                                    <br>
                                                    <span><i class="fas fa-shopping-bag" style="color: #F94E30;"></i> shopee </span>
                                                    <br>
                                                    <span><i class="fab fa-facebook" style="color: blue;"></i> facebook</span>
                                                    <br>
                                                    <span><i class="fab fa-line" style="color: green;"></i> line </span>
                                                </span>
                                            </div>
                                    </div>
                                      <div class="col-lg-2 col-sm-2 col-xs-2 border">
                                        <span>5555</span>
                                    </div>
                                </div>
                                </div> -->

                                <!-- comment -->

                                <div class="container mt-5">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            ความคิดเห็น
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group" id="comment-list">
                                                <!-- รายการความคิดเห็นจะถูกเพิ่มที่นี่ -->
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">John Doe</h5>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">10 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">Jane Smith</h5>
                                                                Nullam tincidunt urna sed justo efficitur, vel luctus
                                                                justo
                                                                bibendum.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">30 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </ul>
                                            <form id="comment-form">
                                                <div class="form-group  mt-2">
                                                    <textarea class="form-control" id="comment" rows="4"
                                                        placeholder="ป้อนความคิดเห็นของคุณ"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">ส่งความคิดเห็น</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>




                    
                </div>
            </div>            
        </main>

        <%- include('partials/footers') -%>