<%- include('partials/heads') -%>
    <%- include('partials/headers') -%>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg hero-bg-shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p class="subtitle">LOVE DOGS TH</p>
							<h1>โปรไฟล์ผู้ใช้</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- end breadcrumb section -->
        <main class="board mt-4">
            <div class="container">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <!-- <div class="text-with-lines">
                        <div class="text-top">
                            <div class="title mt-2 text-center">
                                <h2>บอร์ด</h2>
                            </div>
                        </div>
                    </div> -->

                    <div class="container">
                        <!-- Control the column width, and how they should appear on different devices -->
                        <div class="row">
                            <div class="py-3">
                                <div class="d-flex align-content-start flex-wrap w-100">
                                    <div class="p-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <img class="mr-3 img-fluid rounded-circle img-mini" style="width: 550px; height: 150px;" src="../img/1697816675192.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="p-2 align-self-center col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-2 center">
                                        <h4>นายแพทย์ ต้นไม้ <i class="fas fa-check-circle" style="color: green;"></i></h4>
                                        <div class="mx-auto text-more">
                                            <p>สวัสดีทุกคน เรารักสุนัขที่สุดเลย ยินดีที่ได้รู้จักนะ และยินดีให้คำปรึกษาเรื่องสุขัขนะ</p>
                                        </div>
                                    </div>
                                    <div class="ml-auto p-2 pr-5 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="more-tel">
                                            <span>ติดต่อ : </span><br>
                                            <span><i class="fas fa-phone-volume"></i> 087-988-7539</span>
                                            <br>
                                            <span><i class="fab fa-facebook" style="color: blue;"></i> facebook : Tonmai</span>
                                            <br>
                                            <span><i class="fab fa-line" style="color: green;"></i> line : @Tonmai</span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="container mt-2">
                            <h4><i class="fas fa-chalkboard-teacher"></i> บทความทั้งหมดของฉัน</h4>
                            <div class="mt-2">
                                <div class="row product-lists">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="single-latest-news" >
                                                <a href="#"><div class="latest-news-bg news-bg-1"></div></a>
                                                <div class="news-text-box">
                                                    <a href="#">
                                                    <h3 class="text-title">TTT</h3>
                                                    </a>
                                                    <p class="blog-meta mt-2">
                                                        <span class="author"><i class="fas fa-user"></i> TonmaiTTT</span>
                                                        <span class="date"><i class="fas fa-calendar"></i> 20/5/24</span>
                                                    </p>
                                                    <p class="excerpt"></p>
                                                    <a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                </div>		
                            </div>
                        </div>
                                <!-- comment -->

                                <div class="container mt-5">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            ความคิดเห็น
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group" id="comment-list">
                                                <!-- รายการความคิดเห็นจะถูกเพิ่มที่นี่ -->
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">John Doe</h5>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">10 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">Jane Smith</h5>
                                                                Nullam tincidunt urna sed justo efficitur, vel luctus
                                                                justo
                                                                bibendum.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">30 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </ul>
                                            <form id="comment-form">
                                                <div class="form-group  mt-2">
                                                    <textarea class="form-control" id="comment" rows="4"
                                                        placeholder="ป้อนความคิดเห็นของคุณ"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">ส่งความคิดเห็น</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>




                    
                </div>
            </div>            
        </main>

        <%- include('partials/footers') -%>