body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.carousel-inner{
  padding-top: 0;
  display: flex;
  height: 500px;
  width: 100%;
  float: left;
}
.carousel-control-prev{
  margin-top: 250px;
}
.carousel-control-next{
  margin-top: 250px;
}

.limited-text {
  white-space: nowrap; /* ไม่ขึ้นบรรทัดใหม่ */
  overflow: hidden; /* ซ่อนข้อความเกินเขต */
  text-overflow: ellipsis; /* แสดงเครื่องหมาย ellipsis (...) ถ้าข้อความเกินเขต */
}