<%- include('../partials/headAdmin') -%>
<%- include('../partials/headersAdmin') -%>

               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <div class="row column1">
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-star yellow_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">พอทย์ในระบบ</p>
                                    <p class="head_couter"><a href="/admin/pointbase">จัดการ</a></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-clock-o blue1_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">ระบบเก็บประวัติ</p>
                                    <p class="head_couter"><a href="/admin/history">ดู</a></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-cloud-download green_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">ICON Website</p>
                                    <p class="head_couter"><a href="/admin/icon">แก้ไข</a></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div> 
                                    <i class="fa fa-comments-o red_color"></i>
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                    <p class="total_no">54</p>
                                    <p class="head_couter">Comments</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="/stylesheets/admin_assets/js/jquery.min.js"></script>
      <script src="/stylesheets/admin_assets/js/popper.min.js"></script>
      <script src="/stylesheets/admin_assets/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/stylesheets/admin_assets/js/animate.js"></script>
      <!-- select country -->
      <script src="/stylesheets/admin_assets/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="/stylesheets/admin_assets/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="/stylesheets/admin_assets/js/Chart.min.js"></script>
      <script src="/stylesheets/admin_assets/js/Chart.bundle.min.js"></script>
      <script src="/stylesheets/admin_assets/js/utils.js"></script>
      <script src="/stylesheets/admin_assets/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/stylesheets/admin_assets/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/stylesheets/admin_assets/js/chart_custom_style1.js"></script>
      <script src="/stylesheets/admin_assets/js/custom.js"></script>
   </body>
</html>