<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="../stylesheets/admin_assets/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/css/custom.css" />
      <!-- calendar file css -->
      <link rel="stylesheet" href="/stylesheets/admin_assets/js/semantic.min.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="../../stylesheets/admin_assets/images/logo/LOGO_V.2.png" alt="#" />
                     </div>
                  </div>
                  <div class="login_form">
                     <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert"><%= messages.success %></div>
                      <% } %>
                      <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
                      <% } %>
                      <form action="/admin/loginadmin/submit" method="post">
                        <fieldset>
                           <div class="field">
                              <label class="label_field">Email Address</label>
                              <input type="email" name="email" value="<%= email %>" placeholder="E-mail" />
                           </div>
                           <div class="field">
                              <label class="label_field">Password</label>
                              <input type="password" name="password" value="<%= password %>" placeholder="Password" />
                           </div>
                           <!-- <div class="field">
                              <label class="label_field hidden">hidden label</label>
                              <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                              <a class="forgot" href="">Forgotten Password?</a>
                           </div> -->
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt" type="submit">Sing In</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="/stylesheets/admin_assets/js/jquery.min.js"></script>
      <script src="/stylesheets/admin_assets/js/popper.min.js"></script>
      <script src="/stylesheets/admin_assets/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/stylesheets/admin_assets/js/animate.js"></script>
      <!-- select country -->
      <script src="/stylesheets/admin_assets/js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="/stylesheets/admin_assets/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/stylesheets/admin_assets/js/custom.js"></script>
   </body>
</html>