<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>

<body>


  <section class="vh-100" style="background-color: #FF6633; width: 100vw; height: 100vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            
              <class class="card-body p-5 text-center">

                <h3 class="mb-5">Register</h3>
                <form action="/regis/add" method="post">
                  <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email" value="" autocomplete="off" />
                    <label class="form-label" for="typeEmailX-2">Email</label>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="fname" value="" autocomplete="off"/>
                    <label class="form-label" for="typeEmailX-2">First Name</label>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="sname" value="" autocomplete="off"/>
                    <label class="form-label" for="typeEmailX-2">Last Name</label>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="passw" value="" autocomplete="off"/>
                    <label class="form-label" for="typePasswordX-2">Password</label>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="confirmpassword" id="typePasswordX-2" class="form-control form-control-lg" name="conpassw" value="" autocomplete="off"/>
                    <label class="form-label" for="typePasswordX-2">Confirm Password</label>
                  </div>
    
                  <!-- Checkbox -->
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                  <p>Have already an account?<a href="/login">Login</a></p>
    
                  <hr class="my-4">
                </form>
                
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>